.app__navbar {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__navbar-logo img {
  width: 100px;
}

.app__navbar-links {
  display: flex;
  list-style: none;
}

.app__navbar-links li {
  margin: 0 2rem;
}

.app__navbar-mobile {
  position: relative;
  z-index: 1000;
  display: none;
}

.app__navbar-mobile-links {
  position: absolute;
  top: 40px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background: var(--color-nav);
  min-width: 150px;
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.app__navbar-mobile-links li {
  list-style: none;
}

@media screen and (max-width: 1150px) {
  .app__navbar-links {
    display: none;
  }

  .app__navbar-mobile {
    display: flex;
  }
}

@media screen and (max-width: 1024px) {
  .app__navbar-logo img {
    width: 120px;
  }

  .app__navbar {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .app__navbar-logo img {
    width: 130px;
  }
}

@media screen and (max-width: 500px) {
  .app__navbar-logo img {
    width: 120px;
  }
}
