.app__download {
  position: relative;
  margin: 0 auto;
}

.app__download-image {
  margin-top: 20rem;
}

.app__download-image img {
  width: 100%;
}

.app__download-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app__download-content-h1 {
  font-family: var(--font-mon);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: var(--color-white);
}

.app__download-content-p {
  font-family: var(--font-mon);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.2px;
  color: var(--color-white);

  margin: 1rem 0;
}

.app__download-content-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.app__download-content-btn button {
  margin: 0 1rem;
}

.btn-play {
  font-family: var(--font-mon);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: var(--color-white);
  cursor: pointer;

  padding: 18px 31px;
  background-color: var(--color-vermilion);
  border-radius: 10px;
  text-align: center;
  outline: none;
  border: none;
}

.btn-app {
  padding: 16px 45px;
  background: none;
  border: 1px solid var(--color-white);
  border-radius: 10px;
  cursor: pointer;

  font-family: var(--font-mon);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
  text-align: center;
  outline: none;
  color: var(--color-white);
}
