.section__padding {
  padding: 2rem 3rem;
}

.a__mont {
  font-family: var(--font-mon);
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: var(---color-midnight);
}

.a__mont:hover {
  color: var(--color-vermilion);
}

.active {
  color: var(--color-vermilion);
}

.h2__mont {
  font-family: var(--font-mon);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;

  color: var(--color-midnight);
}

.p__mont {
  font-family: var(--font-mon);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: var(--color-vermilion);
}

.p__mont1 {
  font-family: var(--font-mon);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.2px;
  color: var(--color-gray);

  width: 467px;
  height: 76px;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* .h1__pop {
  font-family: var(--font-pop);
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 0.2px;

  color: var(--color-white);
} */
